@using Plataforma.Services.Components
@model string
@inject ConfigurationsService _configurationsService
@{
    Layout = "../Emails/Shared/_LayoutSimple";
}


<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #333333;">
            <span>Introduza o seguinte código para repor a sua password:</span>
            <br />
            <br />
            <b  style="color:#0c5996; font-size:20px;">@Model</b>
            <br />
            <br />
            <span>Este código é válido apenas por <b>10</b> minutos.</span>
        </td>
    </tr>
</table>
