@using Plataforma.Extensions
@using Plataforma.Models.Identity
@using Plataforma.Controllers.Admin
@using Plataforma.Helpers
@model List<Plataforma.Models.Work.Vehicle>

<div>
    <a asp-action="Create" asp-controller="Vehicles" class="btn btn-primary mb-3"><i class="fa-regular fa-file"></i> Novo registo</a>
</div>


@(Html
    .Grid(Model)
    .Build(columns => {
        columns.Add(m => m.Id).Titled("Id");
        columns.Add(m => m.LicensePlate).Titled("Matrícula");
        columns.Add(m => m.Client.Name).Titled("Cliente");
        columns.Add(m => m.Brand).Titled("Marca");
        columns.Add(m => m.Type).Titled("Modelo");
        columns.Add(m => m.PivotNumber).Titled("Eixos");
        columns.Add(m => m.Color).Titled("Cor");
        columns.AddActions(b => b.AddEdit().AddDelete());
    })
    .Empty("Sem dados")
    .Sortable()
    .Pageable()
    )
