@model Plataforma.Dtos.Identity.User.ChangePasswordDto
@{
    var passwordValidators = (List<string>)ViewData["PasswordValidation"] ?? new List<string>();
}

<form asp-action="Index" asp-controller="ChangePassword">
    @if ((ViewData["Error"]?.ToString() ?? "") != "") {
        <div class="field-validation-error mb-3">@ViewData["Error"]</div>
    }
    <div class="card">
        <div class="card-header">Alterar password</div>
        <div class="card-body">

            <div class="row mb-2">
                @foreach (var error in passwordValidators) {
                    <div class="col-12 small">@error</div>
                }
            </div>
            <div class="row">
                <div class="col-12 col-md-4 col-xxl-3">
                    <div class="form-group">
                        <label asp-for="CurrentPassword">Password Atual</label>
                        <input asp-for="CurrentPassword" class="form-control" maxlength="20"/>
                        <span asp-validation-for="CurrentPassword"></span>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-xxl-3">
                    <div class="form-group">
                        <label asp-for="NewPassword">Nova Password</label>
                        <input asp-for="NewPassword" class="form-control" maxlength="20"/>
                        <span asp-validation-for="NewPassword"></span>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-xxl-3">
                    <div class="form-group">
                        <label asp-for="ConfirmPassword">Confirmação de Password</label>
                        <input asp-for="ConfirmPassword" class="form-control" maxlength="20"/>
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-submit">
        <button class="btn btn-primary d-block d-md-inline-block w-md-auto" type="submit">Gravar</button>
    </div>
</form>